@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

#workspaces button {
    padding: 1px 3px;
    margin: 0px 0px 0px 3px;
    background: transparent;
    border-radius: 4px;
    color: white;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    background: @highlight;
    color: black;
    font-weight: 700;
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.4);
}

#workspaces,
#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume,
#brightness,
#clock,
#custom-power {
    border-radius: 6px;
    padding: 1px 6px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2px 6px 2px 0px;
}

#submap,
#workspaces button.urgent {
    background: rgba(227, 81, 73, 1);
    color: black;
}

#pulseaudio-slider,
#backlight-slider {
    opacity: 0;
    padding: 0;
    margin: 0;
}

#volume:hover ~ #pulseaudio-slider,
#pulseaudio-slider:hover,
#backlight:hover ~ #backlight-slider,
#backlight-slider:hover {
    opacity: 1;
    margin-left: 8px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
    all: unset;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
    min-height: 5px;
    min-width: 0;
    border-radius: 5px;
    background: @dark-7;
}

#volume:hover ~ #pulseaudio-slider trough,
#pulseaudio-slider:hover trough,
#backlight:hover ~ #backlight-slider trough,
#backlight-slider:hover trough {
    min-width: 75px;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
    min-width: 0;
    border-radius: 5px;
    background: @highlight;
}

#volume:hover ~ #pulseaudio-slider highlight,
#pulseaudio-slider:hover highlight,
#backlight:hover ~ #backlight-slider highlight,
#backlight-slider:hover highlight {
    min-width: 10px;
}

tooltip {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

tooltip label {
    color: white;
}

#network {
    color: #42ff9f;
}

#network.disconnected {
    color: rgba(227, 81, 73, 1);
}

#bluetooth {
    color: #42ff9f;
}

#bluetooth.disabled {
    color: rgba(227, 81, 73, 1);
}

#battery {
    color: #42ff9f;
}

#battery.warning {
    color: #f0a040;
}

#battery.critical {
    color: rgba(227, 81, 73, 1);
}

#battery.charging {
    color: #42ff9f;
}

#pulseaudio {
    color: @highlight;
}

#pulseaudio.muted {
    color: rgba(227, 81, 73, 1);
}

#backlight {
    color: @highlight;
}

#cpu {
    color: #42ff9f;
    margin-left: 28px;
}

#clock {
    font-weight: bold;
}

#cpu.warning {
    color: #f0a040;
}

#cpu.critical {
    color: rgba(227, 81, 73, 1);
}

#memory {
    color: #42ff9f;
    margin-right: 14px;
}

#memory.warning {
    color: #f0a040;
}

#memory.critical {
    color: rgba(227, 81, 73, 1);
}

#custom-power {
    color: rgba(227, 81, 73, 1);
    padding: 1px 10px;
    margin-right: 4px;
}

#custom-power:hover {
    background: rgba(227, 81, 73, 1);
    color: black;
}
